.navlink{
    font-size: 25px;
    font-weight: bold;
    color: #1E2328;
    text-decoration: none;
    list-style: none;
    float: right;
    margin: 0px 0px 0px 40px;
}
.navlinks{
    list-style: none;
    margin: 30px 40px 0px 0px;
}
html{
    scrollbar-width: none;  /* Firefox */
}
body{
    padding: 0;
    border: 0px;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    
}
#container{
    position: relative;
    border-collapse: collapse;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html::-webkit-scrollbar {
    display: none;
  }
#header{
    background-color: #F5B301;
    height: 100px;
    width: 100%;
    position:absolute; 
    top: 0;
    left: 0;
    z-index: 10;
}
#content{
    width: 100%;
    background-color: white;
    position:absolute; 
    bottom:100px;
    top: 100px;
    left: 0;
    text-align: center;
}
#footer{
    height: 100px;
    width: 100%;
    background-color: blue;
    position:absolute; 
    bottom:0;
    left: 0;
    text-align: center;
    z-index: 10;
}
.search{
    border-radius: 10px;
    width: 800px;
    font-weight: normal;
    height: 40px;
    float: left;
}
.minivideo{
    background-color: #F5B301;
    border: 3px  solid #F5B301;
    border-radius: 10px;
    width: 320px;
    height: 180px;
    display: inline-block;
    position: relative;
    margin: 10px 17px;
}
.minivideo button{
    background-color: transparent;
    
    padding: 0;
    margin: 0;
    border: 0;
}
.minivideo button video{
    object-fit: cover;
    background: linear-gradient(to top,rgba(255,0,0,0) 10%,rgb(255, 255, 255));
    background-color: transparent;
    border-radius: 10px;
    width: 320px;
    height: 180px;
    
    border: 0px;
}
.minivideo button label{
    backdrop-filter: blur(10px) saturate(70%);
    text-shadow: 0 0 10px white;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    font-size: large;
}
#horizontalscroll{
    border: 5px 0px 5px 0px solid black;
    width: 100%;
    height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: yellow;
    position: relative;
    padding: 0px 0px;
    margin: 20px 0px;
}
#horizontalscroll label{
    position: absolute;
    top: 10;
    left: 10;
}
::-webkit-scrollbar-thumb {
    background: yellow; 
  }

#productslist div{
    margin-top: 30px;
    text-align: left;
}
.popup{
    visibility: hidden;
    text-align: left;
    font-size: 20px;
    background-color: rgb(189, 189, 189);
    border: 3px  solid rgb(88, 88, 88);
    border-radius: 10px;
    width: 60vw;
    height: 55vh;
    display: inline-block;
    position: absolute;
    align-self: center;
}
.backbutton{
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 189, 189);
    border: 3px  solid rgb(88, 88, 88);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    left: 0; 
    right: 0; 
    margin-right: auto;  
    margin-left: auto; 
    display: inline-block;
    position: absolute;
    bottom: 10px;
}
.popup>label{
    text-align: center;
    font-size: 30px;
    
    width: 100%;
    height: 50px;
    padding-top: 5px;
    position: absolute;
    align-items: center;
     
}
.popup p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    position: absolute;
    align-items: center;
    top: 50px;
}
#verticalscroll{
    border: 5px 0px 5px 0px solid black;
    width: 100%;
    height: 1700px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: yellow;
    position: relative;
    padding: 0px 0px;
    margin: 17px 0px;
}
.guilgee{
    margin-top: 40px;
    display: inline-block;
    position: relative;
    width: 80%;
    height: 40px;
    border: 3px solid rgb(32, 32, 32);
    border-radius: 10px;
}
.guilgee label{
    font-weight: bold;
    color: blue;
    display: inline;
    margin-left: 10px;
}
.guilgee p{
    margin-top: 0;
    display: inline;
    margin-right: 10%;
}
.Guilgeehistory{
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
}