.navlink{
    font-size: 25px;
    font-weight: bold;
    color: #1E2328;
    text-decoration: none;
    list-style: none;
    float: right;
    margin: 0px 0px 0px 40px;
}
.navlinks{
    list-style: none;
    margin: 30px 40px 0px 0px;
}
html{
    scrollbar-width: none;  /* Firefox */
}
body{
    padding: 0;
    border: 0px;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    
}
#container{
    position: relative;
    border-collapse: collapse;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html::-webkit-scrollbar {
    display: none;
  }
#header{
    background-color: #F5B301;
    height: 100px;
    width: 100%;
    position:absolute; 
    top: 0;
    left: 0;
    z-index: 10;
}
#content{
    width: 100%;
    background-color: green;
    position:absolute; 
    bottom:100px;
    top: 100px;
    left: 0;
    text-align: center;
}
#footer{
    height: 100px;
    width: 100%;
    background-color: blue;
    position:absolute; 
    bottom:0;
    left: 0;
    text-align: center;
    z-index: 10;
}
.search{
    border-radius: 10px;
    width: 800px;
    font-weight: normal;
    height: 40px;
    float: left;
}
.minivideo{
    background-color: #F5B301;
    border: 3px  solid #F5B301;
    border-radius: 10px;
    width: 220px;
    height: 167px;
    display: inline-block;
    position: relative;
    margin: 30px 20px;
}
.minivideo button{
    background-color: transparent;
    
    padding: 0;
    margin: 0;
    border: 0;
}
.minivideo button video{
   
    background: linear-gradient(to top,rgba(255,0,0,0) 10%,rgb(255, 255, 255));
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
    border: 0px;
}
.minivideo button label{
    backdrop-filter: blur(10px) saturate(70%);
    text-shadow: 0 0 10px white;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    font-size: large;
}
#horizontalscroll{
    border: 5px 0px 5px 0px solid black;
    width: 100%;
    height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: yellow;
    position: relative;
    padding: 0px 0px;
    margin: 20px 0px;
}
#horizontalscroll label{
    position: absolute;
    top: 10;
    left: 10;
}
::-webkit-scrollbar-thumb {
    background: yellow; 
  }

#productslist div{
    margin-top: 30px;
}
